button{
    color: #6d6d6d;
    background-color: transparent;
    padding: 7px 10px;
    border: 2px solid transparent;
    border-radius: 6px;
    text-decoration: none;
}
button:hover{
	background-color: white;
	border-color: #d0d0d0;
    text-decoration: none;
    transition: all .5s;
}

/*головна сторінка*/
.main {
    display: flex;
    align-items: center;
    height: 100vh;
}
.main .list-group{
    text-align: center;
}
.main .main-li-wraper {
    display: inline-block;
    margin: 3.7em;
}
.main .list-group-item {
    display: inline-block;
    border-radius: 45%;
    font-size: 1.8em;
    padding: 0.7em 1.7em;
}
.main .list-group-item:hover{
    font-size: 1.8em;
}


/*под сторінки сторінка*/
.inputFormFixet{
    
}

.homeHref{
    position: fixed;
    top: 5%;
    left: 2%;
    color: #6d6d6d;
    background-color: transparent;
    padding: 7px 10px;
    border: 2px solid transparent;
    border-radius: 6px;
    text-decoration: none;
}
.homeHref:hover{
    background-color: white;
    border-color: #d0d0d0;
    text-decoration: none;
    transition: all .5s;
}

.text{
	display: none;
	word-break: break-all;
}

.updateForm{
	display: none;
	position: relative;
}
.updateForm-feild{
    width: 100%;
    padding: 2px 91px 2px 10px;
    border: 1px solid #5bc0de;
    border-radius: 5px;
    margin-left: -11px;
    margin-top: -3px;
    margin-bottom: -3px;
}
.updateForm [type="submit"]{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 12px;
    padding: 9px 14px;
    border-radius: 0 4px 4px 0;
}

.text-active{
	display: block;
}

.list-group-item>.row{
	position: relative;
}

.list-group-item>.row>.delForm{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -2%;
}

button.chage{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1
}